<form name="getRestaurantForm" ng-submit="submit(getRestaurantForm)">
    <fieldset>
        <div>
            <label for="postCode">
                Postcode
            </label>
            <input
                ng-model="searchModel.postCode"
                type="text"
                name="postCodeValue"
                id="postCode"
                postcode-validator
                maxlength="8"
                minlength="2"
                required=""/>
            <div ng-show="getRestaurantForm.$submitted || getRestaurantForm.postCodeValue.$touched">
                <div ng-show="getRestaurantForm.postCodeValue.$error.required" class="has-error">Please provide your postcode</div>
                <div ng-messages="getRestaurantForm.postCodeValue.$error" class="has-error">
                    <span ng-message="postcodeValidator">Please provide a valid postcode</span>
                </div>
            </div>
        </div>
    </fieldset>
    <br />
    <div>
        <loading-directive></loading-directive>
        <div id="submit">
            <button type="submit">
                Search
            </button>
        </div>
    </div>
</form>