<form name="getRestaurantForm" ng-submit="submit(getRestaurantForm)">
    <fieldset>
        <div>
            <label for="postCode">
                Postcode
            </label>
            <input ng-model="postCode" type="text" name="postCodeValue" id="postCode" maxlength="7" required=""/>
            <div ng-show="getRestaurantForm.$submitted || getRestaurantForm.postCodeValue.$touched">
                <div ng-show="getRestaurantForm.postCodeValue.$error.required">Please enter provide your postcode</div>
            </div>
        </div>
    </fieldset>
    <div>
        <div id="submit">
            <button type="submit">
                Search
            </button>
        </div>
    </div>
</form>