<div>


    <h1>Application error</h1>

    <h2>An error occurred</h2>

    <p>
        Sorry, the resource you were trying to access generated a server error which has
        been logged for analysis.
    </p>
    <h3>
        Contact Us
    </h3>
    <p>
        If the problem persists you can use our <a ng-href="{{justEatHomepage}}">
            contact
            page
        </a> to see how you can get in touch with us.
    </p>
    <h3>
        Try the Home Page
    </h3>
    <p>
        Go back and start browsing our website from <a ng-href="{{searchPage}}">Just Eat Testing</a>.
    </p>


</div>